In [10]:
import requests
import schedule
import time
import pandas as  pd
from plyer import notification 
from datetime import datetime
from colorama import Fore, Back, Style

In [2]:
url = 'https://restcountries.com/v3.1/all'

In [3]:
req = requests.get(url)
code = req.status_code

In [14]:
def alerta(code, url, etapa):

    now = (datetime.now())
    data_hora = now.strftime("%d/%m/%y %H:%M:%S")
    msg = f'Falha no carregamento da base {url} na etapa {etapa}. \n{data_hora}'
    

    if code == 200:
        title = 'Conexão exitosa'
        msg = f'Voce esta conectado na base {url}. \n{data_hora}'
    elif code >= 400:
        title = 'Não tem permissão de acessar na base: {url}'
    elif code >= 500:
        title = 'Erro de conexão com o server {url}'

    notification.notify(
        title = title,
        message = msg,
        app_name= 'Alerta',
        timeout = 10
    )

alerta(code, url, etapa = 'Extracao')

In [5]:
data = req.json()
for chave in data[0]:
    print(chave)

name
tld
cca2
ccn3
cca3
cioc
independent
status
unMember
currencies
idd
capital
altSpellings
region
subregion
languages
translations
latlng
landlocked
area
demonyms
flag
maps
population
gini
fifa
car
timezones
continents
flags
coatOfArms
startOfWeek
capitalInfo
postalCode

In [6]:
df = pd.DataFrame(data)
df.head(2)

,name,tld,cca2,ccn3,cca3,cioc,independent,status,unMember,currencies,...,fifa,car,timezones,continents,flags,coatOfArms,startOfWeek,capitalInfo,postalCode,borders
0,"{'common': 'Cyprus', 'official': 'Republic of ...",[.cy],CY,196,CYP,CYP,True,officially-assigned,True,"{'EUR': {'name': 'Euro', 'symbol': '€'}}",...,CYP,"{'signs': ['CY'], 'side': 'left'}",[UTC+02:00],[Europe],"{'png': 'https://flagcdn.com/w320/cy.png', 'sv...",{'png': 'https://mainfacts.com/media/images/co...,monday,"{'latlng': [35.17, 33.37]}","{'format': '####', 'regex': '^(\d{4})$'}",NaN
1,"{'common': 'Eritrea', 'official': 'State of Er...",[.er],ER,232,ERI,ERI,True,officially-assigned,True,"{'ERN': {'name': 'Eritrean nakfa', 'symbol': '...",...,ERI,"{'signs': ['ER'], 'side': 'right'}",[UTC+03:00],[Africa],"{'png': 'https://flagcdn.com/w320/er.png', 'sv...",{'png': 'https://mainfacts.com/media/images/co...,monday,"{'latlng': [15.33, 38.93]}",NaN,"[DJI, ETH, SDN]"

In [104]:
region = [linha for linha in df['region']]
pais = [pais['common'] for pais in df['name']]
timezone = [linha for linha in df['timezones']]
#moeda = [key['name'] for key in df['currencies'][0].values()]

['HKD', 'EUR']

In [8]:
test = pd.DataFrame({
    'region': region,
   ' pais': pais,
    'timezone': timezone
})
test

       region                              pais     timezone
0      Europe                            Cyprus  [UTC+02:00]
1      Africa                           Eritrea  [UTC+03:00]
2      Africa                           Liberia        [UTC]
3    Americas                           Bermuda  [UTC-04:00]
4      Europe                      Vatican City  [UTC+01:00]
..        ...                               ...          ...
245    Africa                       South Sudan  [UTC+03:00]
246  Americas                          Honduras  [UTC-06:00]
247  Americas  Saint Vincent and the Grenadines  [UTC-04:00]
248      Asia                         Sri Lanka  [UTC+05:30]
249      Asia                         Hong Kong  [UTC+08:00]

[250 rows x 3 columns]